
@font-face {
  src: url(fonts/Slaytanic.ttf);
  font-family: nos;
}

body {
  background: #221C16;
  text-align: center;
  font-family: sans-serif;
}


h1 {
  color: white;
  text-align: center;
  font-family: nos, sans-serif;
  font-weight: 5;
  font-size: 6em;
  letter-spacing: 10px;
}

a {
  color: white;
  text-decoration: none;
}
